<header>
    <nav class="navbar navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Want to play a game....</a>
    </nav>
</header>
<section>
    <br><br><br>
    <div class="alert alert-primary" role="alert" data-toggle="modal" data-target="#exampleModal">
  click me.....</div>
<div class="alert alert-secondary" role="alert" data-toggle="modal" data-target="#exampleModal">
  click me.....</div>
<div class="alert alert-success" role="alert" data-toggle="modal" data-target="#exampleModal">
  click me.....</div>
<div class="alert alert-danger" role="alert" data-toggle="modal" data-target="#exampleModal">
  click me.....</div>
<div class="alert alert-warning" role="alert" data-toggle="modal" data-target="#exampleModa1">
  click me.....</div>
<div class="alert alert-info" role="alert" data-toggle="modal" data-target="#exampleModal">
  click me.....
</div>
<div class="alert alert-light" role="alert" data-toggle="modal" data-target="#exampleModal">
  click me.....</div>
<div class="alert alert-dark" role="alert" data-toggle="modal" data-target="#exampleModal">
  click me.....</div>
</section>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">So you clicked..</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" id="textt" placeholder="Type something..">
      </div>
      <div class="modal-footer btn-group-horizontal">
        <button type="button" class="btn btn-primary" onclick="modal()">Primary</button>
<button type="button" class="btn btn-secondary" onclick="modal()">Secondary</button>
<button type="button" class="btn btn-success" onclick="modal()">Success</button>
<button type="button" class="btn btn-danger" onclick="modal()">Danger</button>
<button type="button" class="btn btn-warning " onclick="modal()">Warning</button>
<button type="button" class="btn btn-info" onclick="modal()">Info</button>
<button type="button" class="btn btn-light" onclick="modal()">Light</button>
<button type="button" class="btn btn-dark" onclick="modal()">Dark</button>

<button type="button" class="btn btn-link">Link</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModa1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">So you clicked...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" id="texttt" placeholder="Type something.." value="">
      </div>
      <div class="modal-footer btn-group-horizontal">
       <button type="button" class="btn btn-primary" onclick="modal()">Primary</button>
<button type="button" class="btn btn-secondary" onclick="modal()">Secondary</button>
<button type="button" class="btn btn-success" onclick="modal()">Success</button>
<button type="button" class="btn btn-danger" onclick="modal()">Danger</button>
<a href="/admin/crea" type="button" class="btn btn-warning" onclick="modal()">Warning</a>
<button type="button" class="btn btn-info" onclick="modal()">Info</button>
<button type="button" class="btn btn-light" onclick="modal()">Light</button>
<button type="button" class="btn btn-dark" onclick="modal()">Dark</button>

<button type="button" class="btn btn-link" onclick="modal()">Link</button>
      </div>
    </div>
  </div>
</div>