<header>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">The Slash Project </a>
    </nav>
</header>
<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
            <br><br><br><br><br>
             <h2 class="text-centre">404 Error
             </h2><br><br>
             <p>You have entered an invalid link or the server is not responding to your request. </p>
             <br>
             <h3>Please go back to theslashproject.com</h3>
        </div>
    </div>
</div>
             