<header>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">The Slash Project </a>
    </nav>
</header>

<div class="row">
    <div class="col-md-6 m-auto border">
        <div class="container mt-5 pl-5">
            <h4 class="text-centre">Tutorial on how to conduct a test.</h4>
            <div style="overflow-y: auto;height:22rem" class="col-12">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="/images/tutorial/tutorial.mp4"></iframe>
            </div>
            <u>Read this before using..</u>
            <ul>
                <li><u>Add answerbox</u> after each question.</li><br>
                <li>To remove anything(tables,pictures..except answerbox), you just need to <u>press backspace one time or twice</u>.Participants can also do this while typing answers.</li><br>
                <li>Click <u>submit button</u> on the top after completing.</li><br>
                <li>If cheating status is <u>true</u> the student moved to another web page or another application.</li><br>
                <li>Using <u>demo page</u> you could see how your question appears to your participants.</li><br>
                <li>To go to the <u>demo page click  the test name</u>, which comes below the heading tests</li><br>
                 <li>Your participants, need to enter<u> your user name in find your organizer</u> on the home page of this web app, to attent your test.</li><br>
                <li>If results are not seen after correction, please <u>reload the page</u>.</li><br>
                <li>The questions and answers will <u>get deleted after 2 week time,</u> starting from the day of preparation.</li><br>
                <li>This page can be viewed again by clicking <u>Guide</u> option in your home page</li><br>
                <li>After preparing each test, logout and try to attent your test like a normal participant (without login in). This is a good practice <u>to check whether everything is good..</u></li>
            </ul>
            <h3>Sample Test </h3>
             <a class="portfolio-box" href="/images/sample.png">
                            <img class="img-fluid" src="/images/sample.png" alt="" />
                            <div class="portfolio-box-caption">
                                
                            </div>
                        </a>
            <br>
            </div>
             <a href="/login" class="btn btn-success rounded">SKIP THIS</a>
             <br> &nbsp;
        </div>
    </div>
</div>